<clr-tabs>
    <clr-tab-link>All repositories</clr-tab-link>
    <clr-tab-link>My repositories</clr-tab-link>
    <clr-tab-content>
        <clr-datagrid [clrDgLoading]="loadingRepos">
            <clr-dg-column [clrDgField]="'id'">Id</clr-dg-column>
            <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'html_url'">URL</clr-dg-column>

            <clr-dg-row *clrDgItems="let repo of repositories" [routerLink]="['/repository', repo.id]">
                <clr-dg-cell>{{repo.id}}</clr-dg-cell>
                <clr-dg-cell>{{repo.name}}</clr-dg-cell>
                <clr-dg-cell>{{repo.html_url}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} repositories
                <clr-dg-pagination #pagination [clrDgPageSize]="20"></clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </clr-tab-content>
    <clr-tab-content>
        <!-- show all for now -->
        <clr-datagrid [clrDgLoading]="loadingRepos">
            <clr-dg-column [clrDgField]="'id'">Id</clr-dg-column>
            <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'html_url'">URL</clr-dg-column>

            <clr-dg-row *clrDgItems="let repo of repositories" [routerLink]="['/repository', repo.id]">
                <clr-dg-cell>{{repo.id}}</clr-dg-cell>
                <clr-dg-cell>{{repo.name}}</clr-dg-cell>
                <clr-dg-cell>{{repo.html_url}}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </clr-tab-content>
</clr-tabs>