.title {
    font-weight: 200;
    font-size: 22px;
    display: inline;
}

.repo-header {
    display: inline-block;
}

.fav {
    color: #FFDC0B;
}

.repo-owner {
    width: 100px;
    height: 100px;
}