<h1>VMware Borathon project</h1>
<div>
    <p>This project will help you find easily projects, to which you can contribute with <strong>small effort</strong> and <strong>huge impact</strong> in 3 simple steps</p>
    <br/>
    <div>
        <clr-icon shape="circle" class="is-solid red" size="18"></clr-icon> Step 1 - Set your Preferences
    </div>
    <br/>
    <div>
        <clr-icon shape="circle" class="is-solid green" size="18"></clr-icon> Step 2 - We'll suggest You where to contribute
    </div>
    <br/>
    <div>
        <clr-icon shape="circle" class="is-solid blue" size="18"></clr-icon> Step 3 - You will make the World a better place!
    </div>
    <br/>
    <a href="https://github.com/tompscanlan/github-matchmaker">GitHub page</a>
</div>

